<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container">
            <div class="navbar-brand">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#MyNavBar">
                    <span class="navbar-toggler-icon"></span>
                    
                </button>
                @Html.ActionLink("QMAN", "Index", "Qualifications", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse w-100 order-1 order-md-0" id="MyNavBar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Qualifications", "Index", "Qualifications", new { @class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Subjects", "Index", "Subjects", new { @class = "nav-link" })</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - QMAN - Qualification Manager - CM Inc - ITWorks - TAFE SA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
