@model QMAN.Models.StudyPlanQualification

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StudyPlanQualification</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudyPlanCode)

        <div class="form-group">
            @Html.LabelFor(model => model.QualCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QualCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QualCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <fieldset>
        <legend>Subjects</legend>
        <table class="table">
            <tr>
                <th width="200px">Subject</th>
                <th>Timing Semester</th>
                <th>Timing Semester Term</th>
            </tr>

            @if (Model.StudyPlanSubjects.Count > 0)
            {
                foreach (var subject in Model.StudyPlanSubjects)
                {
                    <tr class="subject">
                        <td class="subject" width="200px">@subject.SubjectCode</td>
                        <td class="subject"><select id="cboTimingSemester"><option @((subject.TimingSemester == 1) ? "selected" : "")>1</option><option @((subject.TimingSemester == 2) ? "selected" : "")>2</option></select></td>
                        <td class="subject"><select id="cboTimingSemester"><option @((subject.TimingSemesterTerm == 1) ? "selected" : "")>1</option><option @((subject.TimingSemesterTerm == 2) ? "selected" : "")>2</option><option @((subject.TimingSemesterTerm == 3) ? "selected" : "")>3</option><option @((subject.TimingSemesterTerm == 4) ? "selected" : "")>4</option></select></td>
                    </tr>
                }
            }
            else
            {
                <h2>No Subjects</h2>
            }
        </table>

    </fieldset>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
