@model QMAN.Models.Qualification

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NationalQualCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalQualCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TafeQualCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TafeQualCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectedUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectedUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqListedElectedUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqListedElectedUnits)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
