@model QMAN.Models.Qualification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Qualification
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualName)
        </dd>

        <dt>
            National Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalQualCode)
        </dd>

        <dt>
            TAFE Qualification Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TafeQualCode)
        </dd>

    </dl>
</div>
<div>
    <fieldset>
        <legend>Subjects & Competencies</legend>
        <table class="table">
            <tr>
                <td>
                    <table class="table">
                        <tr>
                            <th width="200px">Subject/Comp Code</th>
                            <th>Subject/Comp Name</th>
                            <th>Type</th>
                        </tr>

                        @if (Model.Subjects.Count > 0)
            {
                foreach (var subject in Model.Subjects)
                {
                                <tr class="subject">
                                    <td class="subject" width="200px">@subject.Subject.SubjectCode</td>
                                    <td class="subject">@subject.Subject.SubjectDescription</td>
                                    <td class="subject">@subject.CompTypeCode</td>
                                </tr>

                                if (subject.Subject.Competencies.Count > 0)
                                {
                                    foreach (var competency in subject.Subject.Competencies)
                                    {
                                        <tr style="padding:0px;">
                                            <td colspan="3" style="padding:0px;">
                                                <table class="table" style="margin-bottom:0px;">
                                                    <tr class="comp">
                                                        <td class="comp" width="200px">@competency.TafeCompCode</td>
                                                        <td class="comp">@competency.Competency.CompetencyName</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    }
                                }
                            }
                        }
                        else
                        {
                            <h2>No Subjects</h2>
                        }
                    </table>
                </td>
                <td>
                    <table class="table">
                        <tr>
                            <th>Study Plan</th>
                        </tr>

                        @if (Model.StudyPlans.Count > 0)
                        {
                            foreach (var studyPlan in Model.StudyPlans)
                            {
                                <tr class="subject">
                                    <td class="subject" width="200px">@studyPlan.StudyPlanCode</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <h2>No Study Plans</h2>
                        }
                    </table>
                </td>
            </tr>
        </table>

    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QualCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
