@model QMAN.Models.qualification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Qualification</h4>
    <hr />
    <table>
        <tr>
            <td>Qualification</td>
            <td>@Html.DisplayFor(model => model.QualName)</td>
        </tr>
        <tr>
            <td>National Code</td>
            <td>@Html.DisplayFor(model => model.NationalQualCode)</td>
        </tr>
        <tr>
            <td>TAFE Qualification Code</td>
            <td>@Html.DisplayFor(model => model.TafeQualCode)</td>
        </tr>
    </table>    
</div>
<div>
    <fieldset>
        <legend>Subjects & Competencies @Html.ActionLink("Edit Subjects & Study Plan", "Edit", new { id = Model.QualCode }, new { @class = "btn btn-primary" })</legend>
        <table class="table">
            <tr>
                <td>
                    <table class="table">
                        <tr>
                            <th width="200px">Subject/Comp Code</th>
                            <th>Subject/Comp Name</th>
                            <th>Type</th>
                        </tr>

                        @if (Model.subject_qualification.Count > 0)
                        {
                            foreach (var subject_qual in Model.subject_qualification.OrderBy(sq => sq.SubjectCode))
                            {
                                <tr class="accordion" data-toggle="collapse" data-target="#AA_@(subject_qual.SubjectCode)">
                                    <td class="card-header">@subject_qual.SubjectCode</td>
                                    <td class="card-header">
                                        @if (subject_qual.subject != null)
                                        {
                                            @subject_qual.subject.SubjectDescription
                                        }
                                    </td>
                                    <td class="card-header">@subject_qual.UsageType</td>
                                </tr>

                                if (subject_qual.subject != null && subject_qual.subject.competency != null)
                                {
                                    foreach (var competency in subject_qual.subject.competency)
                                    {
                                        <tr class="hiddenRow collapse" id="AA_@(subject_qual.SubjectCode)">
                                            <td>@competency.NationalCompCode</td>
                                            <td>@competency.CompetencyName</td>
                                            <td>
                                                @{
                                                    var compqual = ((QMAN.Controllers.QualificationsController)this.ViewContext.Controller).GetCompQualForComp(Model.QualCode, competency.NationalCompCode);
                                                    if (compqual != null)
                                                    {
                                                        @compqual.competency_type.CompTypeDescription;
                                                    }
                                                } </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </table>
                </td>
            </tr>
        </table>
    </fieldset>
    <script>
        $('.table .accordian').on('show.bs.collapse', function () {
            $(this).closest("tr")
                .find(".collapse.in")
                .not(this)
                .collapse('toggle')
        })
    </script>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.QualCode }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>