@model QMAN.Models.Qualification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.NationalQualCode)*@
            Qualification
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualName)
        </dd>

        <dt>
            @*@Html.DisplayFor(model => model.QualName)*@
            National Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalQualCode)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TafeQualCode)*@
            TAFE Qualification Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TafeQualCode)
        </dd>
        
        @*<dt>
            @Html.DisplayNameFor(model => model.TotalUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectedUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectedUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqListedElectedUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqListedElectedUnits)
        </dd>*@

    </dl>
</div>
<div>
    <fieldset>
        <legend>Subjects & Competencies</legend>

        <table class="table">
            <tr>
                <th>Subject Code</th>
                <th>Subject Name</th>
            </tr>

            @if (Model.Subjects.Count > 0)
            {
                foreach (var subject in Model.Subjects)
                {
                    <tr>
                        <td>@subject.Subject.SubjectCode</td>
                        <td>@subject.Subject.SubjectDescription</td>
                    </tr>

                    if (subject.Subject.Competencies.Count > 0)
                    {
                        foreach (var competency in subject.Subject.Competencies)
                        {
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@competency.TafeCompCode</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@competency.Competency.CompetencyName</td>
                            </tr>
                        }
                    }
                }
            }
            else
            {
                < h2 > No Subjects </ h2 >
            }
        </table>

    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QualCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
