@model QMAN.Models.Qualification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NationalQualCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalQualCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TafeQualCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TafeQualCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectedUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectedUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqListedElectedUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqListedElectedUnits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QualCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
