@model QMAN.Models.qualification

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Qualification</h2>
<h3>@Html.DisplayFor(model => model.QualName)</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QualCode)

        <div>
            <fieldset>
                <legend>Subjects & Competencies</legend>

                <table class="table">
                    <tr>
                        <th width="200px">Subject/Comp Code</th>
                        <th>Subject/Comp Name</th>
                        <th>Type</th>
                        <th>@Html.ActionLink("Add Subject", "AddSubject", new { QualCode = Model.QualCode }, new { @class = "btn btn-primary" })</th>
                    </tr>

                    @if (Model.subject_qualification.Count > 0)
                    {
                    foreach (var subject_qual in Model.subject_qualification)
                    {
                            <tr class="accordion" data-toggle="collapse" data-target="#AA_@(subject_qual.SubjectCode)">
                                <td class="card-header">@subject_qual.SubjectCode</td>
                                <td class="card-header">@subject_qual.subject.SubjectDescription</td>
                                <td class="card-header">@subject_qual.UsageType</td>
                                <td class="card-header">
                                    @Html.ActionLink("Add", "AddSubject", new { QualCode = Model.QualCode, SubjectCode = subject_qual.SubjectCode }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Remove", "DeleteSubject", new { QualCode = Model.QualCode, SubjectCode = subject_qual.SubjectCode }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>

                            if (subject_qual.subject != null && subject_qual.subject.competency != null)
                            {
                                if (subject_qual.subject.competency.Count > 0)
                                {
                                    foreach (var competency in subject_qual.subject.competency)
                                    {
                                        <tr class="hiddenRow collapse" id="AA_@(subject_qual.SubjectCode)">
                                            <td>@competency.NationalCompCode</td>
                                            <td>@competency.CompetencyName</td>
                                            <td>
                                                @{
                                                    var compqual = ((QMAN.Controllers.QualificationsController)this.ViewContext.Controller).GetCompQualForComp(Model.QualCode, competency.NationalCompCode);
                                                    if (compqual != null)
                                                    {
                                                        @compqual.competency_type.CompTypeDescription;
                                                    }
                                                }
                                            </td>
                                            <td>@Html.ActionLink("Remove", "DeleteCompetency", new { id = competency.TafeCompCode }, new { @class = "btn btn-danger" })</td>
                                        </tr>

                                    }
                                }
                            }

                        }
                    }
                    else
                    {
                        <h2> No Subjects </h2>
                    }
                </table>

                <table class="table">
                    <tr>
                        <th>Study Plan</th>
                    </tr>

                    @if (Model.student_studyplan.Count > 0)
                {
                    foreach (var studyPlan in Model.student_studyplan)
                    {
                            <tr class="subject">
                                <td class="subject" width="200px">@studyPlan.TermYearStart</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "StudyPlan", new { id = studyPlan.TermYearStart }, null)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h2>No Study Plans</h2>
                    }
                </table>

            </fieldset>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
