@model QMAN.Models.qualification

@{
    ViewBag.Title = "Edit Qualification";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <<div class="form-horizontal">
        <h4>Qualification</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QualCode)

        <div>
            <fieldset>
                <legend>Subjects & Competencies</legend>

                <table class="table">
                    <tr>
                        <th width="200px">Subject/Comp Code</th>
                        <th>Subject/Comp Name</th>
                        <th>Type</th>
                    </tr>

                    @if (Model.subject_qualification.Count > 0)
                    {
                        foreach (var subject_qual in Model.subject_qualification.OrderBy(sq => sq.SubjectCode))
                        {
                            <tr class="subject">
                                <td class="subject" width="200px">@subject_qual.subject.SubjectCode</td>
                                <td class="subject">@subject_qual.subject.SubjectDescription</td>
                                <td class="subject">@subject_qual.UsageType</td>
                                <td>@Html.ActionLink("Delete", "DeleteSubject", new { QualCode = Model.QualCode, SubjectCode = subject_qual.SubjectCode })</td>
                            </tr>

                            if (subject_qual.subject.competency.Count > 0)
                            {
                                foreach (var competency in subject_qual.subject.competency)
                                {
                                    if (((QMAN.Controllers.QualificationsController)this.ViewContext.Controller).IsCompInQual(Model.QualCode, competency.NationalCompCode))
                                    {
                                        <tr style="padding:0px;">
                                            <td colspan="3" style="padding:0px;">
                                                <table class="table" style="margin-bottom:0px;">
                                                    <tr class="comp">
                                                        <td class="comp" width="200px">@competency.TafeCompCode</td>
                                                        <td class="comp">@competency.CompetencyName</td>
                                                        <td>
                                                            @{
                                                                var compqual = ((QMAN.Controllers.QualificationsController)this.ViewContext.Controller).GetCompQualForComp(Model.QualCode, competency.NationalCompCode);
                                                                if (compqual != null)
                                                                {
                                                                    @compqual.competency_type.CompTypeDescription;
                                                                }
                                                            }
                                                        </td>
                                                        <td>@Html.ActionLink("Delete", "DeleteCompetency", new { id = competency.TafeCompCode })</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                    else
                    {
                <h2> No Subjects </h2>
                    }
                </table>

                <table class="table">
                    <tr>
                        <th>Study Plan</th>
                    </tr>

                    @if (Model.studyplan_qualification.Count > 0)
                    {
                        foreach (var studyPlan in Model.studyplan_qualification)
                        {
                            <tr class="subject">
                                <td class="subject" width="200px">@studyPlan.StudyPlanCode</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "StudyPlan", new { id = studyPlan.StudyPlanCode }, null)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h2>No Study Plans</h2>
                    }
                </table>

            </fieldset>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
