@model QMAN.Models.Qualification

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Qualification</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QualCode)

        <div>
            <fieldset>
                <legend>Subjects & Competencies</legend>

                <table class="table">
                    <tr>
                        <th width="200px">Subject/Comp Code</th>
                        <th>Subject/Comp Name</th>
                        <th>Type</th>
                    </tr>

                    @if (Model.Subjects.Count > 0)
                    {
                        foreach (var subject in Model.Subjects)
                        {
                            <tr class="subject">
                                <td class="subject" width="200px">@subject.Subject.SubjectCode</td>
                                <td class="subject">@subject.Subject.SubjectDescription</td>
                                <td class="subject">@subject.CompTypeCode</td>
                                <td>@Html.ActionLink("Delete", "DeleteSubject", new { QualCode = Model.QualCode, SubjectCode = subject.SubjectCode })</td>
                            </tr>

                            @if (subject.Subject.Competencies.Count > 0)
                            {
                                @foreach (var competency in subject.Subject.Competencies)
                                {
                                    <tr style="padding:0px;">
                                        <td colspan="3" style="padding:0px;">
                                            <table class="table" style="margin-bottom:0px;">
                                                <tr class="comp">
                                                    <td class="comp" width="200px">@competency.TafeCompCode</td>
                                                    <td class="comp">@competency.Competency.CompetencyName</td>
                                                    <td>@Html.ActionLink("Delete", "DeleteCompetency", new { id = competency.TafeCompCode })</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                }
                            }
                        }
                    }
                    else
                    {
                <h2> No Subjects </h2>
                    }
                </table>

                <table class="table">
                    <tr>
                        <th>Study Plan</th>
                    </tr>

                    @if (Model.StudyPlans.Count > 0)
                    {
                        foreach (var studyPlan in Model.StudyPlans)
                        {
                            <tr class="subject">
                                <td class="subject" width="200px">@studyPlan.StudyPlanCode</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "StudyPlan", new { id = studyPlan.StudyPlanCode }, null)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h2>No Study Plans</h2>
                    }
                </table>

            </fieldset>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-default" />*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
