@model IEnumerable<QMAN.Models.Qualification>

@{
    ViewBag.Title = "Qualifications";
}

<h2>Qualifications</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@using (Html.BeginForm())
{
<div class="row">
    <div class="input-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
        @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search" })
        <span class="input-group-btn ">
            <button class="btn btn-danger" type="submit">Search</button>
        </span>
    </div>
</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Qualification Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("National Qualification Code", "Index", new { sortOrder = ViewBag.Code1Parm })
            </th>
            <th>
                @Html.ActionLink("TAFE Qualification Code", "Index", new { sortOrder = ViewBag.Code2Parm })
            </th>
    </thead>

    @foreach (var item in Model)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QualName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalQualCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TafeQualCode)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.QualCode }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.QualCode }, new {@class = "btn btn-danger" })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.QualCode })*@
            </td>
        </tr>
    }

</table>
