@model QMAN.Models.competency
@{
    ViewBag.Title = "Remove Competency";
}

<h2>Remove Competency</h2>
<h3>@ViewBag.QualName</h3>
<p>Are you sure you want to remove @ViewBag.CompCode - @ViewBag.CompName from @ViewBag.QualName</p>
<a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary">Yes</a> <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-danger">No</a>
@*@Html.ActionLink("Yes", "Edit", new { id = ViewBag.QualCode }, new { @class = "btn btn-primary" }) @Html.ActionLink("No", "Edit", new { id = ViewBag.QualCode }, new { @class = "btn btn-danger" })*@